---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ModalGallery from '../components/ModalGallery.astro';
import GalleryTiles from '../components/GalleryTiles.astro';
import {Image} from 'astro:assets';

import {getCollection} from 'astro:content';
const images = await getCollection('images');

function getSortedImagesByProject(projectName: string) {
	return images
		.filter((image) => image.data.project.includes(projectName))
		.sort((a, b) => {
			const aPriority = a.data.priority !== null && a.data.priority !== undefined ? a.data.priority.valueOf() : Number.MAX_SAFE_INTEGER;
			const bPriority = b.data.priority !== null && b.data.priority !== undefined ? b.data.priority.valueOf() : Number.MAX_SAFE_INTEGER;
			return aPriority - bPriority;
		});
}

const poppy = getSortedImagesByProject('Poppy'); // Southern Cross North
const fiorillo = getSortedImagesByProject('Forillo'); // The Shirley House
const wise = getSortedImagesByProject('Wise Island');
const tupah = getSortedImagesByProject('Tupah');
const newcombe = getSortedImagesByProject('Newcombe');
const kirzinger = getSortedImagesByProject('Kirzinger');
---

<Layout title="John Duncan Ferguson - Portfolio - image galleries of some of the projects I've completed over the years.">
	<main class="pt-1">
		<Hero slogan="Portfolio" more="some of my projects" cta="" url="" bg="bg-hero-portfolio md:bg-hero-portfolio-lg"/>

		<!-- ======= gallery stuff, first the tiles/buttons that launch the modals, then the modals ============ -->

		<div class="">
			<GalleryTiles />
		</div>

		<ModalGallery
			galleryName="poppy"
			galleryTitle="Southern Cross North"
			principalDesigner="John Duncan Ferguson"
			owner=""
			builder="Surfside Construction"
			builderURL="http://www.surfsideconstruction.ca"
			interiorDesigner="Ivana Maschi"
			interiorDesignerURL=""
			photographer="Jody Beck"
			photographerURL=""
			draftsman=""
			previous="kirzinger"
			next="fiorillo"
			previousText="Ocean Park House"
			nextText="The Shirley House"
		>
			{poppy.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>

		<ModalGallery
			galleryName="fiorillo"
			galleryTitle="The Shirley House"
			principalDesigner="John Duncan Ferguson"
			owner=""
			builder="Paul Clarkston"
			builderURL=""
			interiorDesigner="Tonia D'introno"
			interiorDesignerURL="https://dintrono.ca"
			photographer="Jody Beck"
			photographerURL=""
			draftsman="Adrian Schamberger"
			previous="poppy"
			next="wise"
			previousText="Southern Cross North"
			nextText="Wise Island"
		>
			{fiorillo.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>

		<ModalGallery
			galleryName="wise"
			galleryTitle="Wise Island"
			principalDesigner="John Duncan Ferguson"
			owner=""
			builder=""
			builderURL=""
			interiorDesigner=""
			interiorDesignerURL=""
			photographer=""
			photographerURL=""
			draftsman=""
			previous="fiorillo"
			next="tupah"
			previousText="The Shirley House"
			nextText="Elgin Creek"
		>
			{wise.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>

		<ModalGallery
			galleryName="tupah"
			galleryTitle="Elgin Creek"
			principalDesigner="John Duncan Ferguson"
			owner=""
			builder="Surfside Construction"
			builderURL="http://www.surfsideconstruction.ca"
			interiorDesigner="Ivana Maschi"
			interiorDesignerURL=""
			photographer=""
			photographerURL=""
			draftsman=""
			previous="wise"
			next="newcombe"
			previousText="Wise Island"
			nextText="Maison de Lumiére"
		>
			{tupah.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>

		<ModalGallery
			galleryName="newcombe"
			galleryTitle="Maison de Lumiére"
			principalDesigner="John Duncan Ferguson"
			owner=""
			builder=""
			builderURL=""
			interiorDesigner=""
			interiorDesignerURL=""
			photographer=""
			photographerURL=""
			draftsman=""
			previous="tupah"
			next="kirzinger"
			previousText="Elgin Creek"
			nextText="Ocean Park House"
		>
			{newcombe.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>

		<ModalGallery
			galleryName="kirzinger"
			galleryTitle="Ocean Park House"
			principalDesigner="John Duncan Ferguson"
			owner=""
			builder=""
			builderURL=""
			interiorDesigner=""
			interiorDesignerURL=""
			photographer="Mike Kondra"
			photographerURL=""
			draftsman=""
			previous="newcombe"
			next="poppy"
			previousText="Maison de Lumiére"
			nextText="Southern Cross North"
		>
			{kirzinger.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>

		<!-- ======== end the gallery stuff =========== -->

	</main>
</Layout>
