---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ModalGallery from '../components/ModalGallery.astro';
import GalleryTiles from '../components/GalleryTiles.astro';
import {Image} from 'astro:assets';

import {getCollection} from 'astro:content';
const images = await getCollection('images');
const poppy = images.filter((image) =>
	image.data.project.includes('Poppy')
);
const fiorillo = images.filter((image) =>
	image.data.project.includes('Forillo')
);
const wise = images.filter((image) =>
	image.data.project.includes('Wise Island')
);
const tupah = images.filter((image) =>
	image.data.project.includes('Tupah')
);
const newcombe = images.filter((image) =>
	image.data.project.includes('Newcombe')
);
const kirzinger = images.filter((image) =>
	image.data.project.includes('Kirzinger')
);
---

<Layout title="John Duncan Ferguson - Portfolio">
	<main class="pt-1">
		<Hero slogan="Portfolio" more="some of the work I've done" cta="" url="" bg="bg-hero-portfolio md:bg-hero-portfolio-lg"/>

		<!-- ======= gallery stuff, first the tiles/buttons that launch the modals, then the modals ============ -->

		<div class="">
			<GalleryTiles />
		</div>

		<ModalGallery
			galleryName="poppy"
			galleryTitle="Poppy"
			principalDesigner="Jack Ferguson"
			owner="Owen Poppy"
			builder="Surfside Construction"
			builderURL="http://www.surfsideconstruction.ca"
			interiorDesigner="Ivana Maschi"
			interiorDesignerURL=""
			photographer="Jody Beck"
			photographerURL=""
			draftsman=""
			previous="kirzinger"
			next="fiorillo"
		>
			{poppy.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>

		<ModalGallery
			galleryName="fiorillo"
			galleryTitle="Fiorillo"
			principalDesigner="Jack Ferguson"
			owner=""
			builder=""
			builderURL=""
			interiorDesigner=""
			interiorDesignerURL=""
			photographer="Jody Beck"
			photographerURL=""
			draftsman="Adrian Schamberger"
			previous="poppy"
			next="wise"
		>
			{fiorillo.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>

		<ModalGallery
			galleryName="wise"
			galleryTitle="Wise Island"
			principalDesigner="Jack Ferguson"
			owner=""
			builder=""
			builderURL=""
			interiorDesigner=""
			interiorDesignerURL=""
			photographer=""
			photographerURL=""
			draftsman=""
			previous="fiorillo"
			next="tupah"
		>
			{wise.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>

		<ModalGallery
			galleryName="tupah"
			galleryTitle="Tupah"
			principalDesigner="Jack Ferguson"
			owner=""
			builder="Surfside Construction"
			builderURL="http://www.surfsideconstruction.ca"
			interiorDesigner="Ivana Maschi"
			interiorDesignerURL=""
			photographer=""
			photographerURL=""
			draftsman=""
			previous="wise"
			next="newcombe"
		>
			{tupah.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>

		<ModalGallery
			galleryName="newcombe"
			galleryTitle="Newcombe"
			principalDesigner="Jack Ferguson"
			owner=""
			builder=""
			builderURL=""
			interiorDesigner=""
			interiorDesignerURL=""
			photographer=""
			photographerURL=""
			draftsman=""
			previous="tupah"
			next="kirzinger"
		>
			{newcombe.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>

		<ModalGallery
			galleryName="kirzinger"
			galleryTitle="Kirzinger"
			principalDesigner="Jack Ferguson"
			owner=""
			builder=""
			builderURL=""
			interiorDesigner=""
			interiorDesignerURL=""
			photographer="Mike Kondra"
			photographerURL=""
			draftsman=""
			previous="newcombe"
			next="poppy"
		>
			{kirzinger.map((img) => (
				<Image src={img.data.pathToImage} alt={img.data.credit} width={img.data.width} height={img.data.height}
							 class="h-auto max-w-full"/>
			))
			}
		</ModalGallery>


		<!-- ======== end the gallery stuff =========== -->

	</main>
</Layout>
