---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import ModalGallery from "../components/ModalGallery.astro";
import GalleryTiles from "../components/GalleryTiles.astro";

import {getCollection} from 'astro:content';
const images = await getCollection('images');
const craftsmen = images.filter((image) =>
	image.data.style.includes('Craftsmen')
);
const modern = images.filter((image) =>
	image.data.style.includes('Modern')
);
const french = images.filter((image) =>
	image.data.style.includes('French Country')
);
---

<Layout title="John Duncan Ferguson - Portfolio">
	<main class="pt-1">
		<Hero slogan="Portfolio" more="some of the work I've done" cta="" url="" bg="bg-hero-portfolio lg:bg-hero-portfolio-lg"/>

		<!-- ======= gallery stuff, first the tiles/buttons that launch the modals, then the modals ============ -->

		<div class="py-1">
			<GalleryTiles />
		</div>

		<ModalGallery galleryName="craftsman" galleryTitle="Craftsmen" previous="" next="modern">
			{craftsmen.map((img) => (
				<img src={img.data.pathToImage} alt={img.data.credit} class="h-auto max-w-full"/>
				<p class="bg-base-700 px-2 py-1 mb-1 text-base-100">photo credit: {img.data.credit}</p>
			))
			}
		</ModalGallery>

		<ModalGallery galleryName="modern" galleryTitle="Modern" previous="craftsman" next="french">
			{modern.map((img) => (
				<img src={img.data.pathToImage} alt={img.data.credit} class="h-auto max-w-full"/>
				<p class="bg-base-700 px-2 py-1 mb-1 text-base-100">photo credit: {img.data.credit}</p>
			))
			}
		</ModalGallery>

		<ModalGallery galleryName="french" galleryTitle="French Country" previous="modern" next="">
			{french.map((img) => (
				<img src={img.data.pathToImage} alt={img.data.credit} class="h-auto max-w-full"/>
				<p class="bg-base-700 px-2 py-1 mb-1 text-base-100">photo credit: {img.data.credit}</p>
			))
			}
		</ModalGallery>

		<!-- ======== end the gallery stuff =========== -->

	</main>
</Layout>
